.map {
    width: 100%;
    height: 60vmin;
}

.gcode_form{
    width: auto;
    height: auto;
    padding: 3px;
    background-color: white;
}

.gcode_form input {
    width: auto;
    display: inline-block;
}

.gcode_form button {
    display: inline-block;
    width: 45px;
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 5px;
    padding: 2px;
    font-weight: bold;
}

.scale {
    text-align: center;
}

.scale-holder {
    width: auto;
}

.scale-holder div span {
    border-radius: 10%;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}

.scale-holder div {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}